
.qcTableComponent{
   width: 100%;
  /* overflow-x: auto; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 900px;
}
/*------- styles for search box starts--------- */
.qcTableSearchBox {
  width: 100%;
  max-width: 380px;
  margin: 20px auto;
}

.qcTableSearchBox input {
  width: 100%;
  padding: 12px 18px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.qcTableSearchBox input:focus {
  outline: none;
  border-color: #5b8dfd;
  box-shadow: 0 4px 14px rgba(91, 141, 253, 0.3);
}
/* -----styles for serach box ends-------- */

/* ---------styles for table starts----- */
.tableWrapper {
  max-height: 400px;
  overflow-x: auto;
  white-space: nowrap;
  width: fit-content;
  max-width: 100%;
}

@media (max-width: 768px) {
  .tableWrapper{
     overflow-x: auto;
    white-space: nowrap;
  }
}

.table {
  border-collapse: collapse;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   min-width: 600px; /* ensures scroll */
  width: max-content;

}

/* Header Row */
.theadRow {
  background: linear-gradient(135deg, #5b8dfd, #6dd5fa);
  color: #fff;
  font-weight: bold;
  position: sticky;
  top:0;
  z-index:10;
}

.th {
  padding: 14px 18px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* Body rows */
.tbody{
  border: 1px solid #e0ecff;
}
.tr {
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
  text-align: center;
}

.td {
  padding: 12px 18px;
  color: #333;
}

/* to prevent wrap */
.th,
.td{
  white-space: nowrap;
}

/* Hover Effect */
.tr:hover {
  background: #e0ecff; 
  transition: 0.2s;
}

/* Alternate rows */
.evenRow {
  background: #fafafa !important;
}

/* Column borders */
.colBorder {
  border-left: 1px solid #e0e7ff;
}

/*  Selected row style */
.selected {
  background: #c9dbff !important;
  font-weight: 600;
  color: #000;
  transition: 0.25s ease;
}
/* -----styles for table ends------------ */

/* Thin  scrollbar */
.qcTableComponent::-webkit-scrollbar, .tableWrapper::-webkit-scrollbar {
  width: 4px;          
}

.qcTableComponent::-webkit-scrollbar-track, .tableWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.qcTableComponent::-webkit-scrollbar-thumb, .tableWrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);    
  border-radius: 20px;
}

.qcTableComponent::-webkit-scrollbar-thumb:hover, .tableWrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}

/* Firefox support */
.qcTableComponent, .tableWrapper {
  scrollbar-width: thin;              
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}

/* no data found style */
.emptyRow {
  padding: 20px;
  text-align: center;
  color: #666;
  font-size: 14px;
  font-weight: 600;
}
